#mySidenav a {
    position: fixed; /* Position them relative to the browser window */
    right: -250px; /* Position them outside of the screen */
    transition: 0.6s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 300px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 30px 5px 5px 5px; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    right: -40px; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #fb {
    top: 280px;
    background-color: #3b5998;
  }
  
  #insta {
    top: 340px;
    background-color:#C13584; /* Blue */
  }
  
  #twitter {
    top: 400px;
    background-color: #55acee; /* Red */
  }
  
  #youtube {
    top: 460px;
    background-color: #555 /* Light Black */
  }

  #pinterest {
    top: 520px;
    background-color: #bd081c 
  }

  #ldn
  {
    top: 580px;
    background-color: #0077B5
  }
  #d1{
    background-size: cover;
    margin-right: -30px;
    height:1030px;
  }

  #m1{
    direction: left;
  }