<div id="d3" style="background-color: whitesmoke">
  <br /> <br />
  <div class="text-center">
    <h1 class="text-center" style="color:#34465d;"><b>ABC BANK</b></h1>
    <p style="font-size: 14px; color: crimson;"><i>Financing your dreams</i></p>
    <hr style="margin-left: 120px; width:90%;height:2px;border-width:0;color:orange;background-color:orange">
  </div>
  <br />
  <div class="row r1">
    <div class="col-lg-1">
      <img src="assets/images/a4.jpg" alt="V&m">
    </div>
    <div style="margin-left: 100px;">
      <h2 class="text-danger">Vision & Mission</h2>
      <hr style="margin-left: 0px; width:90%;height:1px;border-width:0;color:gray;background-color:gray">
      <p style="color: gray;">Vision</p>
      <p><b>To become the Bank of Choice for Corporates, Medium Business and Upmarket Retail Customers and Development
          Banking for Small Business and Rural Markets.</b></p>
      <p style="color: gray;">Mission</p>
      <p><b>To provide Superior, Proactive Banking service to niche market globally, while providing cost effective,
          responsive sevice to others in our role as a development bank, and doing in so,<br />meet the requirements of
          our stakeholders. </b></p>
    </div>
  </div>
  <br /><br /><br />
  <div class="row r1">
    <div class="col-lg-1">
      <img src="assets/images/a3.jpg" alt="V&m">
    </div>
    <div style="margin-left: 100px; margin-top: 50px;">
      <h2 class="text-danger">Overview</h2>
      <hr style="margin-left: 0px; width:90%;height:1px;border-width:0;color:gray;background-color:gray">
      <p><b>ABC Bank welcomes you to explore the world of premier bank in India. ABC is a high quality, customer centric
          and service driven Bank.<br /> <br />Our business is more than banking
          because we touch the lives of people anywhere across the globe in many ways. Our commitment towards the
          nation-building is complete & comprehensive.</b></p>
    </div>
  </div>
  <br /><br /><br />
  <div class="row r1">
    <div class="col-lg-1">
      <img src="assets/images/a5.jpg" alt="V&m">
    </div>
    <div style="margin-left: 100px; margin-top: 50px;">
      <h2 class="text-danger">Brand Pillars</h2>
      <hr style="margin-left: 0px; width:90%;height:1px;border-width:0;color:gray;background-color:gray">
      <p><b>ABC Bank brand is built around key Brand Pillars, which epitomize the growing strengths of the
          Bank.</b></p>
      <p><b><b style="font-size: medium;">Growth, Trust, Innovation, Technology, Transparency, Accountablity,
            Responsibility </b>are the seven
          pillars of success. All communication and advertising has been created around these key brand
          pillars.</b></p>
    </div>
  </div>
  <br /><br /><br />
  <div class="row r1">
    <div class="col-lg-1">
      <img src="assets/images/a8.jpg" alt="V&m">
    </div>
    <div style="margin-left: 100px; margin-top: 20px;">
      <h2 class="text-danger">Security</h2>
      <hr style="margin-left: 0px; width:90%;height:1px;border-width:0;color:gray;background-color:gray">
      <p><b>ABC Banks wishes all its customers safe and secure banking.</b></p>
      <p><b>When it comes to choosing a bank for online transactions, there are lots of things to consider. The most
          important is Security!</b></p>
      <p class="text-danger"><b>Security is not complete without "U".</b></p>
    </div>
  </div>
  <br /><br /><br />
</div>
<!-- <div id="d3" style="background-image: url(assets/images/bg11.jpg);"></div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/a4.jpg" alt="V&m" style="width:100%;height: 315px;">
      <div class="container" style="height:290px">
        <h2 class="text-danger">Vision & Mission</h2>
        <p class="title">Vision</p>
        <hr>
        <p><b>Building the Finest Quality Large Bank of the World in India.</b></p>

        <p class="title">Mission</p>
        <hr>
        <p><b>Committed to build trust and deliver an exceptional banking experience.</b></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/a3.jpg" alt="Overview" style="width:100%;height: 315px;">
      <div class="container" style="height:290px">
        <h2 class="text-danger">Overview</h2>
        <p class="title">ABC Banking Services</p>
        <hr>
        <p><b>ABC Bank welcomes you to explore the world of premier bank in India.</b></p>
        <p>ABC is a high quality, customer centric and service driven Bank. Our business is more than banking
          because we touch the lives of people anywhere across the globe in many ways. Our commitment towards the
          nation-building is complete & comprehensive.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/images/a5.jpg" alt="Pillars" style="width:100%;height: 315px;">
      <div class="container" style="height:290px">
        <h2 class="text-danger">Brand Pillars</h2>
        <p class="title">7 Pillars of Success</p>
        <hr>
        <p><b>ABC Bank brand is built around key Brand Pillars, which epitomize the growing strengths of the
            Bank.</b></p>
        <p><b>Growth, Trust, Innovation, Technology, Transparency, Accountablity, Responsibility</b> are the seven
          pillars of success.<br />All communication and advertising has been created around these key brand
          pillars.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/security.jpg" alt="Security" style="width:100%;height: 315px;">
      <div class="container" style="height:290px">
        <h2 class="text-danger">Secure Banking</h2>
        <p class="title">Security</p>
        <hr>
        <p><b>ABC Banks wishes all its customers safe and secure banking.</b></p>
        <p>When it comes to choosing a bank for online transactions, there are lots of things to consider. The most
          important is <b>Security!</b> </p>
        <p class="text-danger text-center"><b>Security is not complete without "U"</b></p>
      </div>
    </div>
  </div>

  <div class="col-lg-12 text-center">
    <br /><br /><br /><br /><br /><br />
    <div style="padding: 20px; margin-right: -15px; font-size: larger;">
      <span class="text-dark">
        <strong>This site is copyright &copy; to ABC Banks
          {{todaysDate |date:'yyyy'}}. All rights are reserved.
        </strong>
      </span>
    </div>
  </div>
</div> -->