
.d{
    margin-top:-50px;
    margin-left:80px;
}
img{
    margin-top:15px;
}
h5{
    padding:10px; 
    float:right;
    margin-top: -60px;
}
a{ 
    margin-top: -70px;
}
.btn{
    color:white;
    border:2px solid #555;
}