<div class="offset-lg-2 col-lg-10 offset-md-2 col-md-10 offset-sm-2 col-sm-10">
    <form class="log" [formGroup]="passForm" (ngSubmit)="changePass()">

        <!-- Asset Value text box-->
        <div class="form-group row">
            <label for="newPass" class="col-lg-3 col-md-3 col-sm-3 text-dark text-right font-weight-bold">
                New Password<span class="text-danger">*</span>
            </label>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <input type="password" class="form-control" placeholder="Enter new password"
                    formControlName="newPass" />

                <div *ngIf="submitted && passForm.controls.newPass.errors">
                    <div class="text-danger" *ngIf="passForm.controls.newPass.errors.required">
                        Required..!
                    </div>
                    <div class="text-danger" *ngIf="passForm.controls.newPass.errors.pattern">
                        Only Alpha Numemrics allowed and must be of minimum 6 characters and maximum 8 characters..!
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF Asset Value-->

        <!-- Loan Tenure text box-->
        <div class="form-group row">
            <label for="confirmPass" class="col-lg-3 col-md-3 col-sm-3 text-dark text-right font-weight-bold">
                Re-enter password<span class="text-danger">*</span>
            </label>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <input [type]="passwordType" class="form-control" placeholder="Re-enter new password"
                    formControlName="confirmPass" />
                <div *ngIf="passwordShow">
                    <span class="fas fa-eye errspan" (click)="show()"></span>
                </div>
                <div *ngIf="!passwordShow">
                    <span class="fas fa-eye-slash errspan" (click)="show()"></span>
                </div>
                <div *ngIf="submitted && passForm.controls.confirmPass.errors">
                    <div class="text-danger" *ngIf="passForm.controls.confirmPass.errors.required">
                        Required..!
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF Loan tenure-->
        <br />
        <!-- Submit and Cancel Buttons-->
        <div class="text-center">
            <button class="btn btn-success">Change</button>&nbsp; &nbsp;
            <button class="btn btn-danger" type="reset">Reset</button>&nbsp; &nbsp;
        </div>
    </form>
</div>