
.btn
{
   margin-right: 10px;
   padding:5px 10 15px 0;
}
.log{
    padding: 30px 10px;
    padding-right: 250px;
    margin-top: -10px;
    margin-left: 20px;
    
}
.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color:#555;
}