<div class="column" style="margin-top:200px;">
    <!-- <div class="card"> -->
    <div class="container" style="height:500px;">
        <br />

        <div>

            <h2 class="text-secondary" style="padding: 10px 0 15px 15px;">Set New Password
                <a class="btn btn-secondary" routerLink="/user" style="float: right;">
                    <i class="fas fa-angle-left"></i> &nbsp;Back</a>
            </h2>
            <hr style="margin-left: 0px; width:100%;height:5px;border-width:0;color:orange;background-color:orange">
            <div class="row1">
                <form class="log" [formGroup]="passForm" (ngSubmit)="changePass()">

                    <!-- Loan Amt text box-->
                    <div class="form-group row">
                        <label for="pass" class="col-lg-4 text-dark text-right font-weight-bold">
                            Current Password<span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" placeholder="Enter old password"
                                formControlName="pass" />

                            <div style="font-size: 20px;" *ngIf="submitted && passForm.controls.pass.errors">
                                <div class="text-danger" *ngIf="passForm.controls.pass.errors.required">
                                    Required..!
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF Loan Amt-->

                    <!-- Asset Value text box-->
                    <div class="form-group row">
                        <label for="newPass" class="col-lg-4 text-dark text-right font-weight-bold">
                            New Password<span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" placeholder="Enter new password"
                                formControlName="newPass" />

                            <div style="font-size: 20px;" *ngIf="submitted && passForm.controls.newPass.errors">
                                <div class="text-danger" *ngIf="passForm.controls.newPass.errors.required">
                                    Required..!
                                </div>
                                <div class="text-danger" *ngIf="passForm.controls.newPass.errors.pattern">
                                    Only Alpha Numemrics allowed and must be of minimum 6 characters and maximum 8
                                    characters..!
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF Asset Value-->

                    <!-- Loan Tenure text box-->
                    <div class="form-group row">
                        <label for="confirmPass" class="col-lg-4 text-dark text-right font-weight-bold">
                            Re-enter Password<span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-8">
                            <input [type]="passwordType" class="form-control" placeholder="Re-enter new password"
                                formControlName="confirmPass" />
                            <div *ngIf="passwordShow">
                                <span class="fas fa-eye errspan" (click)="show()"></span>
                            </div>
                            <div *ngIf="!passwordShow">
                                <span class="fas fa-eye-slash errspan" (click)="show()"></span>
                            </div>
                            <div style="font-size: 20px;" *ngIf="submitted && passForm.controls.confirmPass.errors">
                                <div class="text-danger" *ngIf="passForm.controls.confirmPass.errors.required">
                                    Required..!
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF Loan tenure-->
                    <br />
                    <!-- Submit and Cancel Buttons-->
                    <div class="text-center" style="margin-left: 200px;">
                        <button class="btn btn-success">Change</button>&nbsp; &nbsp;
                        <button class="btn btn-danger" type="reset">Reset</button>&nbsp; &nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row1">
    <div class="text-light" style="background-color:#555;">
        <h3 class="text-light" style="padding: 10px 0 15px 15px;">Set New Password
            <a class="btn btn-secondary" routerLink="/user" style="float: right;">
                <i class="fas fa-angle-left"></i> &nbsp;Back</a>
        </h3>
    </div>
    <div>
        <form class="log" [formGroup]="passForm" (ngSubmit)="changePass()">

            <!-- Loan Amt text box
            <div class="form-group row">
                <label for="pass" class="col-lg-4 text-dark text-right font-weight-bold">
                    Current Password<span class="text-danger">*</span>
                </label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" placeholder="Enter old password"
                        formControlName="pass" />

                    <div *ngIf="submitted && passForm.controls.pass.errors">
                        <div class="text-danger" *ngIf="passForm.controls.pass.errors.required">
                            Required..!
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF Loan Amt-->

<!-- Asset Value text box
            <div class="form-group row">
                <label for="newPass" class="col-lg-4 text-dark text-right font-weight-bold">
                    New Password<span class="text-danger">*</span>
                </label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" placeholder="Enter new password"
                        formControlName="newPass" />

                    <div *ngIf="submitted && passForm.controls.newPass.errors">
                        <div class="text-danger" *ngIf="passForm.controls.newPass.errors.required">
                            Required..!
                        </div>
                        <div class="text-danger" *ngIf="passForm.controls.newPass.errors.pattern">
                            Only Alpha Numemrics allowed and must be of minimum 6 characters and maximum 8 characters..!
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF Asset Value-->

<!-- Loan Tenure text box
            <div class="form-group row">
                <label for="confirmPass" class="col-lg-4 text-dark text-right font-weight-bold">
                    Re-enter Password<span class="text-danger">*</span>
                </label>
                <div class="col-lg-8">
                    <input [type]="passwordType" class="form-control" placeholder="Re-enter new password"
                        formControlName="confirmPass" />
                    <div *ngIf="passwordShow">
                        <span class="fas fa-eye errspan" (click)="show()"></span>
                    </div>
                    <div *ngIf="!passwordShow">
                        <span class="fas fa-eye-slash errspan" (click)="show()"></span>
                    </div>
                    <div *ngIf="submitted && passForm.controls.confirmPass.errors">
                        <div class="text-danger" *ngIf="passForm.controls.confirmPass.errors.required">
                            Required..!
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF Loan tenure-->

<!-- Submit and Cancel Buttons
            <div class="text-center">
                <button class="btn btn-success">Change</button>&nbsp; &nbsp;
                <button class="btn btn-danger" type="reset">Reset</button>&nbsp; &nbsp;
            </div>
        </form>
    </div>
</div> -->