<br />
<div class="offset-lg-2 col-lg-10 offset-md-2 col-md-10 offset-sm-2 col-sm-10">
    <form class="log" [formGroup]="forgetForm" (ngSubmit)="forgetPass()">

        <!-- Loan Amt text box-->
        <div class="form-group row">
            <label for="user" class="col-lg-3 col-md-3 col-sm-3 text-dark text-right font-weight-bold">
                Username<span class="text-danger">*</span>
            </label>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <input type="text" class="form-control" placeholder="Enter your UserName" formControlName="user" />

                <div *ngIf="submitted && forgetForm.controls.user.errors">
                    <div class="text-danger" *ngIf="forgetForm.controls.user.errors.required">
                        Username is Required..!
                    </div>
                    <div class="text-danger" *ngIf="forgetForm.controls.user.errors.pattern">
                        Enter Valid Username..!
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF Loan Amt-->

        <!-- Asset Value text box-->
        <div class="form-group row">
            <label for="accNo" class="col-lg-3 col-md-3 col-sm-3 text-dark text-right font-weight-bold">
                Account Number<span class="text-danger">*</span>
            </label>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <input type="number" class="form-control" placeholder="Enter your Account Number"
                    formControlName="accNo" />

                <div *ngIf="submitted && forgetForm.controls.accNo.errors">
                    <div class="text-danger" *ngIf="forgetForm.controls.accNo.errors.required">
                        Account number is Required..!
                    </div>
                    <div class="text-danger" *ngIf="forgetForm.controls.accNo.errors.pattern">
                        Enter Valid Account number..!
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF Asset Value-->

        <!-- Loan Tenure text box-->
        <div class="form-group row">
            <label for="pan" class="col-lg-3 col-md-3 col-sm-3 text-dark text-right font-weight-bold">
                PAN Number<span class="text-danger">*</span>
            </label>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <input type="text" class="form-control" placeholder="Enter PAN number" formControlName="pan" />
                <div *ngIf="submitted && forgetForm.controls.pan.errors">
                    <div class="text-danger" *ngIf="forgetForm.controls.pan.errors.required">
                        PAN is Required..!
                    </div>
                    <div class="text-danger" *ngIf="forgetForm.controls.pan.errors.pattern">
                        Enter Valid PAN Number..!
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF Loan tenure-->
        <br />
        <!-- Submit and Cancel Buttons-->
        <div *ngIf="!hide">
            <div class="offset-lg-4 col-lg-3 text-center">
                <button class="btn btn-success">Submit</button>&nbsp; &nbsp;
                <button class="btn btn-danger" type="reset">Reset</button>&nbsp; &nbsp;
            </div>
        </div>
        <div *ngIf="hide">
            <div class=" offset-lg-4 col-lg-3 text-center">
                <button class="btn btn-warning" routerLink="/set"><i class='fas fa-angle-double-right'></i> Click here
                    to change Password</button>&nbsp; &nbsp;
            </div>
        </div>
    </form>
</div>